# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Variáveis de ambiente
.env
.env.*

# Modelos YOLO
*.pt

# Dados gerados
data/*
!data/.gitkeep

# Arquivos do sistema
.DS_Store
Thumbs.db

# Apresentação
Apresentação RoadVision/